{% extends 'dentist_info/index.html' %}
{% load static %}


{% block body %}
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
    <div class="form-container">
        <h2>Book an Appointment</h2>
        <form action="{% url 'dentist_info_app:Booking' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}                 
                </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}