.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    /* margin-bottom: 100px; */
}

.form-field {
    margin-bottom: 15px;
}

.form-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* استایل برای دکمه ارسال */
.form-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #45a049;
}

/* استایل برای پیام‌های خطا */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.under-form{
    text-align: center;
    font-size: 14;
    margin-bottom: 100px;
}

.under-form a{
    text-decoration: none;
}

.under-form a:hover{
    color: aqua;
}