#appointment-list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

#appointment-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 30%;
    margin-top: 1.5em;
    padding: 1%;
    background-color: #1e2a3c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    max-width: 800px;
    margin-bottom: 20px;
}

#appointment-list li {
    font-size: 16px;
    color: #fff8f8;
    padding: 0.5%;
    border-bottom: 1px solid #eeeeee; 
}

#appointment-list li:last-child {
    border-bottom: none;
}

#appointment-list li:hover {
    background-color: #74b1d061;      
}

#appointment-list li:first-child {
    font-weight: bold;               
    color: #007BFF;               
}

#text{
    text-align: center;
    margin-left: 50%;
    color: black;
}