{% extends 'dentist_info/base.html' %}
{% load static %}

{% block body %}
    <div class="form-container">
        <h1>Change Password</h1>
        <form action="{% url 'account_app:Change_password' %}" method="post">
            {% csrf_token %}
            <link rel="stylesheet" href="{% static 'register.css' %}">
            <div class="form-field">
                <p>Enter your old password:</p>
                {{ form.old_password }}
                {% if form.old_password.errors %}
                    <div class="error-message">
                        {% for error in form.old_password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-field">
                <p>Enter your new password:</p>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <div class="error-message">
                        {% for error in form.new_password1.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-field">
                <p>Confirm your new password:</p>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <div class="error-message">
                        {% for error in form.new_password2.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="form-button">Change</button>
        </form>
    </div>

{% endblock %}