{% extends 'dentist_info/base.html' %}
{% load static %}

{% block body %}

<form method="post" action="{% url 'account_app:Signup' %}" class="form-container">
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <h1>Sign Up</h1>
    <div class="form-field">
        <p>Enter username:</p>
        {{ form.username }}
        {% if form.username.errors %}
            <div class="error-message">
                {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="form-field">
        <p>Enter password:</p>
        {{ form.password1 }}
        {% if form.password1.errors %}
            <div class="error-message">
                {% for error in form.password1.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="form-field">
        <p>Enter password again:</p>
        {{ form.password2 }}
        {% if form.password2.errors %}
            <div class="error-message">
                {% for error in form.password2.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <button type="submit" class="form-button">Sign Up</button>

    <div class="under-form">
        <p>Do You have account?</p>
        <a href="{% url 'account_app:Login' %}">Login</a>
    </div>
</form>

{% endblock %}